<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="pager(actionUrl, pageObj, size, sort, dir, locationCode)">
    <div style="margin-top: 12px;">
        <div class="muted"
             th:text="'Página ' + (${pageObj.number} + 1) + ' / ' + ${pageObj.totalPages} + ' — Total: ' + ${pageObj.totalElements}">
            Página
        </div>

        <div style="margin-top: 8px;">
            <a th:if="${pageObj.number > 0}"
               th:href="@{${actionUrl}(page=${pageObj.number-1}, size=${size}, sort=${sort}, dir=${dir}, locationCode=${locationCode})}">
                Anterior
            </a>

            <a th:if="${pageObj.number + 1 < pageObj.totalPages}"
               style="margin-left: 12px;"
               th:href="@{${actionUrl}(page=${pageObj.number+1}, size=${size}, sort=${sort}, dir=${dir}, locationCode=${locationCode})}">
                Siguiente
            </a>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>

